name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  test-typescript:
    name: TypeScript Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v5
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Check Format
        id: npm-format-check
        run: npm run format:check

      - name: Lint
        id: npm-lint
        run: npm run lint

      - name: Test
        id: npm-ci-test
        run: npm run ci-test
#  test-action:
#    name: GitHub Actions Test
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Checkout
#        id: checkout
#        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
#
#      - name: Test Local Action
#        id: test-action
#        uses: ./
#        with:
#          services: 'my-rootly-service'
#          alert_groups: 'my-rootly-group'
#          teams: 'my-rootly-team'
#          environments: 'production'
#          incident_types: 'my-incident-type'
#          title: 'My Test Incident'
#          summary:
#            'This is a test incident created by the GitHub Actions workflow.'
#          severity: 'low'
#          create_alert: 'true'
#          api_key: ${{ secrets.TEST_ROOTLY_API_KEY }}
#        env:
#          ACTIONS_STEP_DEBUG: true
#
#      - name: Print Output
#        id: output
#        run: |
#          # shellcheck disable=SC2129
#          echo "## Action Outputs" >> "${GITHUB_STEP_SUMMARY}}"
#          echo "Alert ID: ${{ steps.test-action.outputs.alert-id }}" >> "${GITHUB_STEP_SUMMARY}}"
#          echo "Incident ID: ${{ steps.test-action.outputs.incident-id }}" >> "${GITHUB_STEP_SUMMARY}}"
